{% extends "inc/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="row">
    <div class="h1">
        New Question 
    </div>
</div>
<div class="row mt-4">
    <form class="g-3 needs-validation" novalidate method="post">
        {% bootstrap_form form size="lg" %}
        <div class="form-group d-flex justify-content-end">
            <button class="btn btn-lg mt-4 btn-outline-primary" type="submit">Ask</button>
        </div>
    </form>
</div>
{% endblock %}
