{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="row">
  <div class="h1">
    Log in 
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-9">
    <form method="post" novalidate>
      {% if form.non_field_errors %}
      <div class="form-group row">
        <div class="col-sm-10" >
          {% for err in form.non_field_errors %}
          <p class="text-danger">
            {{err}}
          </p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% bootstrap_field form.username layout="floating" size="lg" %}
      {% bootstrap_field form.password layout="floating" size="lg" %}

      <div class="form-group d-flex justify-content-end">
        <a class="btn btn-lg mt-4 mx-4 btn-outline-primary" href="{% url 'signup' %}"> Register </a>
        <button class="btn btn-lg mt-4 btn-outline-primary" type="submit">Log in</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}



