{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>AskMe</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <meta name="theme-color" content="#712cf9">
        <link href="{% static "css/page404styles.css" %}" rel="stylesheet">
        <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    </head>
    <body>
        <div class="page-404">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <!--BEGIN CONTENT-->
                        <div class="inner-circle"><i class="fa fa-home"></i><span style="font-size: 8em;">404</span></div>
                        <div class="inner-status">Oops! You're lost</div>
                        <div class="inner-detail">
                            We can not find the page you're looking for.
                            
                        </div>
                        <div class="home-btn d-flex flex-row justify-content-center">
                            <a href="{% url "index" %}" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                                Return home
                            </a>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
