<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>AskMe</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">

        <link href="../static/css/bootstrap.css" rel="stylesheet">

        <link href="../static/css/styles.css" rel="stylesheet">
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
        <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#712cf9">
        <script src="../static/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <main>
            <header class="p-3 mb-3 border-bottom">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
                        <a href="./index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                            <img src="../static/img/logo.svg" alt="" id="logo">
                        </a>

                        <div class="d-flex flex-row">
                            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                            </form>

                            <a href="./ask.html" class="btn btn-outline-primary mx-3">Ask</a>    
                        </div>

                        <div class="dropdown text-end" style="display:none;">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../static/img/avatar.jpg" alt="mdo" width="40" height="40" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                        <div class="d-flex">
                            <a class="btn btn-outline-primary" href="./login.html">Log in</a>
                            <a class="btn btn-outline-primary mx-3" href="./signup.html">Register</a>

                        </div>
                    </div>
                </div>
            </header>
        </main>
        <div class="container-fluid p-5" style="font-size: 1.4rem;">
            <div class="row justify-content-around">
                <div class="col-lg-9 d-flex flex-column justify-content-between">
                    <div class="container-fluid" id="question">
                        <div class="row d-flex justify-content-center">
                            <div class="col col-xl-12">
                                <div class="card mb-5" "border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex flex-row">
                                            <img src="../static/img/avatar.jpg" alt="..." class="post_avatar img-thumbnail">
                                            <div class="container">
                                                <span class="h3 mb-3">How to build a moon park</span>
                                                <p>
                                                Ipsum quaerat aliquid est aliquam voluptatibus architecto. Eveniet inventore earum nam perferendis quidem. Temporibus accusantium magni cum quidem accusantium sapiente inventore sit! Repellendus doloremque sit repellendus possimus commodi. Iusto voluptate.
                                                </p>
                                            </div>
                                        </div>
                                        <p>
                                        Created by <strong>GOpher</strong> <span id="post_creation_dat"> on 11 April , 2021</span>
                                        </p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0">
                                            Rating: 
                                            <span id="likes_counter">5</span>
                                            <span class="btn btn-outline-dark mx-2 like_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                </svg>
                                            </span>
                                            <span class="btn btn-outline-dark dislike_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg> 
                                            </span>
                                            </p>

                                            <p class="mx-3 mb-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                                                <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                                                <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                                            </svg>
                                            Tags: 
                                            <span class="tag_list">
                                                <a href="#">
                                                    black-jack
                                                </a>
                                                <a href="#">
                                                    bender 
                                                </a>
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                            </div>
                        </div>
                    </div>


                    <div class="container-fluid mt-4" id="answer_list">
                        <div class="row d-flex justify-content-center answer">
                            <div class="col col-xl-10">
                                <div class="card mb-5" style="border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex flex-row">
                                            <img src="../static/img/avatar.jpg" alt="..." class="post_avatar img-thumbnail">
                                            <div class="container">
                                                <p>
                                                Ipsum quaerat aliquid est aliquam voluptatibus architecto. Eveniet inventore earum nam perferendis quidem. Temporibus accusantium magni cum quidem accusantium sapiente inventore sit! Repellendus doloremque sit repellendus possimus commodi. Iusto voluptate.
                                                </p>
                                            </div>
                                        </div>
                                        <p>
                                        Created by <strong>GOpher</strong> <span id="post_creation_dat"> on 11 April , 2021</span>
                                        </p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0">
                                            Rating: 
                                            <span id="likes_counter">5</span>
                                            <span class="btn btn-outline-dark mx-2 like_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                </svg>
                                            </span>
                                            <span class="btn btn-outline-dark dislike_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg> 
                                            </span>
                                            </p>

                                            <p class="mx-3 mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                   Correct 
                                                </label>
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center answer">
                            <div class="col col-xl-10">
                                <div class="card mb-5" style="border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex flex-row">
                                            <img src="../static/img/avatar.jpg" alt="..." class="post_avatar img-thumbnail">
                                            <div class="container">
                                                <p>
                                                Ipsum quaerat aliquid est aliquam voluptatibus architecto. Eveniet inventore earum nam perferendis quidem. Temporibus accusantium magni cum quidem accusantium sapiente inventore sit! Repellendus doloremque sit repellendus possimus commodi. Iusto voluptate.
                                                </p>
                                            </div>
                                        </div>
                                        <p>
                                        Created by <strong>GOpher</strong> <span id="post_creation_dat"> on 11 April , 2021</span>
                                        </p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0">
                                            Rating: 
                                            <span id="likes_counter">5</span>
                                            <span class="btn btn-outline-dark mx-2 like_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                </svg>
                                            </span>
                                            <span class="btn btn-outline-dark dislike_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg> 
                                            </span>
                                            </p>


                                            <p class="mx-3 mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                   Correct 
                                                </label>
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center answer">
                            <div class="col col-xl-10">
                                <div class="card mb-5" style="border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex flex-row">
                                            <img src="../static/img/avatar.jpg" alt="..." class="post_avatar img-thumbnail">
                                            <div class="container">
                                                <p>
                                                Ipsum quaerat aliquid est aliquam voluptatibus architecto. Eveniet inventore earum nam perferendis quidem. Temporibus accusantium magni cum quidem accusantium sapiente inventore sit! Repellendus doloremque sit repellendus possimus commodi. Iusto voluptate.
                                                </p>
                                            </div>
                                        </div>
                                        <p>
                                        Created by <strong>GOpher</strong> <span id="post_creation_dat"> on 11 April , 2021</span>
                                        </p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0">
                                            Rating: 
                                            <span id="likes_counter">5</span>
                                            <span class="btn btn-outline-dark mx-2 like_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                </svg>
                                            </span>
                                            <span class="btn btn-outline-dark dislike_btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg> 
                                            </span>
                                            </p>

                                            <p class="mx-3 mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                   Correct 
                                                </label>
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col col-xl-10">

                            <form>
                                <div class="form-outline" >
                                    <textarea class="form-control" id="answerForm" rows="4"></textarea>
                                    <label class="form-label" for="annwerForm"></label>
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-lg">
                                   Answer 
                                </button>
                            </form>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span>&raquo;</span>
                                </a>
                        </ul>
                    </nav>
                </div>       
                <div class="col-lg-2">
                    <div class="row px-3 popular_tags">
                        <h2 class="text-center">Popular Tags</h2>
                        <div class="container-fluid text-center" style="font-size:1.2rem">
                            <div class="row mt-2 d-flex flex-row justify-content-center">
                                <div class="col mt">
                                    <a href="#">
                                        perl
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        Techopark 
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        python 
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-2 d-flex flex-row justify-content-between">
                                <div class="col">
                                    <a href="#">
                                        django 
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        MySql 
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        Mail.ru 
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-2 d-flex flex-row justify-content-between">
                                <div class="col">
                                    <a href="#">
                                        Firefox
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        Techopark 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-3 mt-5 best_members">
                        <h2 class="text-center">
                            Best Members 
                        </h2>
                        <div class="list-group" style="font-size:1.3rem">
                            <a href="#" class="list-group-item list-group-item-action text-center">
                                User1 
                            </a>
                            <a href="#" class="list-group-item list-group-item-action text-center">
                                User2 
                            </a>
                            <a href="#" class="list-group-item list-group-item-action text-center">
                                User3 
                            </a>
                            <a href="#" class="list-group-item list-group-item-action text-center">
                                User4 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 mt-4 border-top">
            <div class="col-md-4 mx-4 d-flex align-items-center">
                    <a href="./index.html" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <img src="../static/img/logo.svg" alt="" id="logo">
                    </a>
                    <span class="text-muted">&copy; 2022 Kirill Kiselev</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled mx-5 d-flex">
                <li class="ms-3">

                    <a class="text-muted" href="https://github.com/t1d333">

                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>

                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://t.me/t1d333">

                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>

