{% extends 'inc/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" id="question">
    <div class="row d-flex justify-content-center">
        <div class="col col-xl-12">
            <div class="card mb-5" "border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-flex flex-row">
                        <img src="{% static "img/avatar.jpg" %}" alt="..." class="post_avatar img-thumbnail">
                        <div class="container">
                            <span class="h3 mb-3">{{question.title}}</span>
                            <p>
                                {{question.text}}
                            </p>
                        </div>
                    </div>
                    <p>
                        Created by <strong>{{question.author}}</strong> on <strong> {{question.created}} </strong>  
                    </p>
                    <hr class="my-4">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="mb-0">
                        Rating: {{question.rating}}
                        <span class="btn btn-outline-dark mx-2 like_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </span>
                        <span class="btn btn-outline-dark dislike_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg> 
                        </span>
                        </p>

                        <p class="mx-3 mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                            <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                            <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                        </svg>
                        {% include "inc/tags_item.html" %}
                        </p>
                    </div>
                </div>
            </div>

            <hr class="my-4">
        </div>
    </div>
</div>


<div class="container-fluid mt-4" id="answer_list">
    {% for answer in page_obj.object_list %}
        {% include "inc/answer_item.html" %}
    {% endfor %}
</div>

<div class="row d-flex justify-content-center">
    <div class="col col-xl-10">

        <form>
            <div class="form-outline" >
                <textarea class="form-control" id="answerForm" rows="4"></textarea>
                <label class="form-label" for="annwerForm"></label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg">
                Answer 
            </button>
        </form>
    </div>
</div>
{% include 'inc/pagination.html' %}
{% endblock %}
