{% extends "inc/base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="row">
    <div class="h1">
        Register 
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-9">
        <form class="g-3 needs-validation" method="post" enctype='multipart/form-data'>
            {% bootstrap_form form size="lg" %}
             <div class="form-group d-flex justify-content-end">
                <button class="btn btn-lg mt-4 btn-outline-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
